.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8FF;
    overflow-y: hidden;
    
  height: 100vh;
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title{
            font-weight: bold;
            text-align: center;
            font-size: 40px;
        }
        .Input{
            margin: 5px;
            height: 30px;
            padding: 3px;
            border: none;
            .Input:focus{
                outline: none;
            }

        }
        .button{
            padding: 15px;
            font-size: 20px;
            width:50%;
            background-color: #fcf5f5;
            cursor: pointer;
            margin-top: 20px;
            margin-left: 25%;
            // width: 50px;
        }
    }
}